// Raw (no-context) colors
$color-dark-grey:       #1c1c1c;
$color-grey:            #36323e;
$color-light-grey:      #c4c4b8;
$color-purple:          #2c1f47;
$color-light-purple:    #8c71c1;
$color-gold:            #e0bd1f;

// Colors by usage
$bg:        $color-dark-grey;
$light-bg:  $color-grey;
$accent-bg: $color-purple;

$fg:        $color-light-grey;
$accent-fg: $color-gold;

// Font stack
$fonts: Noto Sans,sans-serif;
$fonts-display: Teko,sans-serif;

// Defaults
html {
    height: 100%;
    overflow-y: scroll; // to make the scrollbar always show to avoid misalignment
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $bg;
    color: $fg;
    font-family: $fonts;
    font-size: 15px;
    font-weight: 400;
}

// Default element styles
h1, h2, h3, h4, h5, h6 {
    color: $accent-fg;
}

a, a:hover, a:active, a:visited {
    text-decoration: underline;
    color: $fg;
}

// Main flexbox container
.container {
    display: flex;
    flex-direction: column;
    //align-items: center;
    height: 100%;
    //max-width: 1000px;
    //margin: 0 auto;
    //padding: 0 20px;
}

// Header and footer
header {
    padding: 10px 15px;
    //border-bottom: 1px dotted $accent;
    background: $accent-bg;
    
    nav {
        height: 100%;
        display: flex;
    
        a.home-link {
            text-decoration: none; // remove underline
            //font-style: italic;
            font-family: $fonts-display;
            font-size: 36px;
            font-weight: 600;
            // Fix display font's weird properties
            margin-top: 8px;
            margin-bottom: 3px;
            line-height: 0.8;
            color: $accent-fg;
        }
        a.home-link:hover, a.home-link:active {
            margin-bottom: 0;
            border-bottom: 3px solid $accent-fg;
        }
        
        img.logo {
            padding-top: 5px;
            height: 30px
        }
    }
}

footer {
    flex: 0 1; // Makes the footer stick to the bottom
    padding: 5px 0;
    border-top: 1px dotted $accent-fg;
    text-align: center;
    color: $accent-fg;
}

// Content
main {
    flex: 1 0; // Makes the footer stick to the bottom
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    
    // Remove the top margin on the first child item to unify spacing
    > :first-child {
        margin-top: 0;
    }
}

// Homepage stuff
.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a.project {
        display: flex;
        align-items: center;
        background: $light-bg;
        border-radius: 2px;
        box-sizing: border-box;
        height: 150px;
        width: 100%;
        margin-bottom: 15px;
        padding: 15px;
        text-decoration: none;
        
        .project-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .type {
                text-transform: uppercase;
            }
            
            .title {
                font-size: 36px;
                font-weight: bold;
                margin: 5px 0;
            }
            
            .desc {
                
            }
        }
    }
    a.project:hover {
        padding: 13px;
        border: 2px solid $accent-fg;
    }
}
