{# Template for /projects/ section #}
{% extends "section.html" %}

{% block content %}
{{ super() }} {# include the default section content #}

<div class="project-list">
{% for project in section.pages %}
    <a class="project" href="{{ project.permalink | safe }}">
        <div class="project-text">
            {% if project.extra.project_type %}
            <span class="type">{{ project.extra.project_type }}</span>
            {% endif %}
            <span class="title">{% if project.extra.display_name %}{{ project.extra.display_name }}{% else %}{{ project.title }}{% endif %}</span>
            <span class="desc">{{ project.description }}</span>
        </div>
        {% if project.extra.banner %}
        <img class="project-banner" src="{{ config.base_url }}{{ project.extra.banner | safe}}">
        {% endif %}
    </a>
{% endfor %}
</div>

{% endblock %}
