{# Template for /projects/ section #}
{% extends "section.html" %}

{% block content %}
{{ super() }} {# include the default section content #}

<div class="project-list">
{% for project in section.pages %}
    <a class="project" href="{{ project.permalink }}">
        <div class="project-text">
            {% if project.extra.project_type %}
            <span class="type">{{ project.extra.project_type }}</span>
            {% endif %}
            <span class="title">{{ project.title }}</span>
            <span class="desc">{{ project.description }}</span>
        </div>
        <img src="">
    </a>
{% endfor %}
</div>

{% endblock %}