---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Boulder High Robotics" description="">
	<div class="column is-full is-size-2 p-3 has-text-centered maxwidth">Jenny the Shopping Cart</div>
    <div class="column is-full p-3">Jenny is a shopping cart that has been given motorized wheels. What more is there to explain?</div>
</Layout>

<style>
.maxwidth {
	min-width: 100%;
}
</style>