---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Boulder High Robotics" description="">
	<div class="content is-large p-3 has-text-centered maxwidth">We participate in <a href="https://materovcompetition.org">MATE robotics</a></div>

</Layout>

<style>
.maxwidth {
	min-width: 100%;
}
</style>