---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Boulder High Robotics" description="">
    <div class="">
        First Robotics Competition 2011
        <a href="https://www.youtube.com/watch?v=Tm3RdNXf-ME">Video 1</a>
        <a href="https://www.youtube.com/watch?v=SFkQWg7a0Lw">Video 2</a>
    </div>
</Layout>
