---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Boulder High Robotics" description="">
	FRC 2011

<a href="https://www.youtube.com/watch?v=Tm3RdNXf-ME"></a>
<a href="https://www.youtube.com/watch?v=SFkQWg7a0Lw"></a>


</Layout>