---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Boulder High Robotics" description="">
	<div class="content is-large p-3 has-text-centered maxwidth">Boulder High Landsharks (or robosharks), FIRST team 1157</div>

</Layout>

<style>
.maxwidth {
	min-width: 100%;
}
</style>
