{# Base page template. Used by all other page templates via `extend` #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {# Makes the size responsive #}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ config.base_url | safe }}/style.css"> {# Main stylesheet #}
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Teko:wght@600&display=swap"
        rel="stylesheet"> {# Fonts: Noto Sans Regular and Bold, Teko Semi-bold #}
    <link rel="icon" href="{{ config.base_url | safe }}/robosharks-logo-icon.svg">
    {% endblock %}
</head>
<body>

<div class="container">

<header>{% block header %}
    <nav>
        <a class="home-link" href="{{ config.base_url | safe }}">Boulder Robotics Alliance</a>
    </nav>
{% endblock %}</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>{% block footer %}© 2021 Boulder Robotics Alliance{% endblock %}</footer>

</div>

</body>
</html>
